DATABASE_URL=postgresql://neondb_owner:npg_MEev9KRqdHy0@ep-tiny-shadow-b49yljhb-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_URL= http://localhost:5173

JWT_SECRET=smartserve_super_secret_key_123
RAZORPAY_KEY_ID = rzp_test_Tbuj2TcGedJIwq
RAZORPAY_KEY_SECRET = IW0i2iHRpPSIcYbH4j3uqycr
GEOAPIFY_API_KEY = 057b7562f3754185b247088b565e3983